.user-profile {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 4rem;
  h1 {
    padding-bottom: 1rem;
    margin-bottom: 3rem;
    border-bottom: 1px solid #eaeaea;
    display: flex;
    align-items: center;
    justify-content: space-between;
    i {
      color: #333;
      cursor: pointer;
    }
  }
}
